* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #666699;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000000;
}

header {
    padding: 20px 35px;
    background-color: #666699;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: antiquewhite;
    margin: 0;
    display: inline;
}

header h3 {
    font-size: 24px;
    margin: 0;
    background-color: #666699;
}

header a {
    text-decoration: none;
    color:antiquewhite;
    background-color:#666699;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: #666699;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color:antiquewhite;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color:antiquewhite;
}

footer p {
    color:antiquewhite;
    background-color: #666699;
}

.comic-page {
    max-width: 75%;
    height: auto;
    
}

.comic {
    display: flex;
    flex: start;
}